<!DOCTYPE html>
</html>
    <head>
        <title>Node.js-MySQL</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="">
                <h2 class="float-left"><%=page_title%></h2>
                <a class="float-right btn btn-info" href="/logout">Logout </a>
            </div>
            <div class="page-container">
